@model IEnumerable<GeneratorIntoWeb.Models.Question>

@{
    ViewData["Title"] = "Ticket";
}

<h1>Ticket</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ol>
@foreach (var item in Model) {
    <li>

                    @item.questionText<br>
                    <ol>
                    @foreach (var ans in item.answers){
                       <li> @ans </li>
                    }
                        </ol>
    <br>
                </li>
}
            </ol>
    </tbody>
</table>
