@model IEnumerable<GeneratorIntoWeb.Models.Question>

@{
    ViewData["Title"] = "Ticket";
    int i = 0;
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<body>
    <form class="form-question">
        @foreach(var item in Model)
        {
            string idAns = $"question{i}";

            <input type="hidden" value="@item.QuestionHash"> 
            <h2>@item.questionText</h2>
            int q = 0;

            @foreach(var ans in item.answers)
            {

                <div class="radioDiv">
                    <input type="radio" name=@idAns  />
                    <label for=@idAns+"ans"+@Convert.ToString(q)>@ans</label><br>
                </div>
            }
            i++;
            
            
        }
        <input type="submit" value="Отправить"/>
    </form>


</body>